@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ML.Usuario
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>@ViewBag.Titulo</h3>
                <h5>Ingrese los datos</h5>
                <hr />
            </div>
        </div>
    </div>
   @* <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/Usuario/UsuarioJS.js"></script>*@
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">

                    <div class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.IdUsuario, new { @class = "control-label col-md-2 hidden" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.IdUsuario, new { @class = "form-control hidden"})
                            @Html.ValidationMessageFor(model => model.IdUsuario)
                          @*  @id = "txtNumeroEmpleado", @placeholder="Ejemp:0123", autocomplete = "off", @onkeypress = "return SoloNumeros(event,'lblErrorNumeroEmpleado')"})*@
                      
                  </div>
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @placeholder="(No puede ir vacio)", autocomplete = "off", @onkeypress = "return SoloLetras(event,'lblErrorNombre')" })
                            
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                        @Html.Label("", null, new {@id = "lblErrorNombre"})
                    </div>

                    <div class="form-group">
                        <div class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "control-label col-md-2" })
                        </div>
                        <div class="control-label col-md-2">
                            @Html.Label("Apellido Paterno")
                        </div>

                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno", @placeholder="(No puede ir vacio)", autocomplete = "off", @onkeypress = "return SoloLetras(event,'lblErrorApellidoPaterno')" })
                            @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                        </div>
                        @Html.Label("", null, new {@id = "lblErrorApellidoPaterno"})
                    </div>

                    <div class="form-group">
                        <div class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.ApellidoMaterno, new { @class = "control-label col-md-2" })
                        </div>
                        <div class="control-label col-md-2">
                            @Html.Label("Apellido Materno")
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno", @placeholder="(No puede ir vacio)", autocomplete = "off", @onkeypress = "return SoloLetras(event,'lblErrorApellidoMaterno')" })
                            @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                        </div>
                        @Html.Label("", null, new {@id = "lblErrorApellidoMaterno"})
                    </div>

                 

                    <div class="form-group">
                        <div class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.NombreUsuario, new { @class = "control-label col-md-2" })
                        </div>
                        <div class="control-label col-md-2">
                            @Html.Label("Nombre Usuario")
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "form-control", @id = "txtNombreUsuario", @placeholder="Ejemp:User23", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.NombreUsuario, null, new { @class = "text-danger"})
                        </div>
                        @Html.Label("", null, new {@id = "lblErrorUsuario"})
                    </div>

                    <div class="form-group">
                        <div class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.Contrasenia, new { @class = "control-label col-md-2" })
                        </div>
                        <div class="control-label col-md-2">
                            @Html.Label("Contraseña")
                        </div>
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Contrasenia, new { @class = "form-control", @id = "txtContrasenia", @placeholder="Introduzca una contraseña", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Contrasenia)
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.Estatus, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Estatus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Estatus)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3" style="display: none;">
                        @Html.LabelFor(model => model.Rol.IdRol, new { @class = "control-label col-md-2" })
                       
                        @Html.LabelFor(model => model.Rol.NombreRol, new { @class = "control-label col-md-2" })
                         </div>
                        <div class="control-label col-md-2">
                            @Html.Label("Rol")
                        </div>

                        <div class="col-md-3">
                            @*@Html.TextBoxFor(model => model.Rol.IdRol, new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(model => model.Rol.IdRol)*@
                            @* aqui va el Drop Down List *@
                            @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.Roles, "IdRol", "Nombre"), "Selecciona una opcion", new { @class = "form-control" })


                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <div class="btn-group d-flex w-100" role="group">
                                <input type="submit" value="@ViewBag.Accion Guardar" class="btn btn-success" />
                            @Html.ActionLink("Regresar", "GetAll", "Usuario", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                    </div>
                    </div>
                    </div>

            }
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">


function SoloLetras(e,controlId)
             {
                  var regex = /^[a-zA-Z]+$/;
                  var letra = e.key;
                  if(regex.test(letra)){
                      $('#' + controlId).css({ "color": "green" });
                      return true;
                  }
                  else{
                      $('#' + controlId).text("Solo se aceptan letras");
                      $('#' + controlId).css({ "color": "red" });
                      return false;
                  }
              }
              </script>
    }
