@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Alta de Usuarios</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione un Usuario para editarlo u el boton + para agregar un usuario...</h5>
            <hr />
        </div>
    </div>
</div>

<div style="float:right;">
    @Html.ActionLink("+", "Form", "Usuario", htmlAttributes: new { @class = "btn btn-success" })
</div>
@if (Model.Usuarios == null)
{
    <div class="p-3 mb-2 bg-danger text-white">Aun no hay usuarios registrados</div>
}
else
{
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <td class="text-center">Editar</td>

                <td style="display :none;">IdUusario</td>
                <td class="text-center">Nombre</td>
                @*<td class="text-center">ApellidoPaterno</td>
                <td class="text-center">ApellidoMaterno</td>*@
                <td class="text-center">NombreUsuario</td>
                <td class="text-center">Contraseña</td>
                <td class="text-center">Estatus</td>
                <td class="text-center">Rol</td>
               
                <td class="text-center">Eliminar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Usuario usuario in Model.Usuarios)
            {
                <tr>
                    <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Empleado", new { IdUsuario = usuario.IdUsuario })"></a></td>

                    <td style="display :none;">@usuario.IdUsuario</td>

                    <td class="text-center">@usuario.Nombre @usuario.ApellidoPaterno @usuario.ApellidoMaterno</td>
                    <td class="text-center">@usuario.NombreUsuario</td>
                    <td class="text-center">@usuario.Contrasenia</td>
                    <td class="text-center">@usuario.Estatus</td>
                    <td style="display :none;">@usuario.Rol.IdRol</td>
                    <td class="text-center">@usuario.Rol.Nombre</td>
                    @*se tiene que llamar el modelo*@




                    <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Usuario", new { IdUsuario = usuario.IdUsuario})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                </tr>
            }
        </tbody>
    </table>
}


