@model ML.Inventario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Equipos a inventario</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h5>Seleccione un equipo para editarlo u el boton + para agregar un equipo...</h5>
            <hr />
        </div>
    </div>
    <div style="float:right;">
        @Html.ActionLink("+", "Form", "Inventario", htmlAttributes: new { @class = "btn btn-success" })
    </div>
    @if (Model.Inventarios == null)
    {
        <div class="p-3 mb-2 bg-danger text-white">Aun no hay equipos registrados</div>
    }
    else
    {
        @*  <div style="overflow-x:auto;">*@


        <table class="table table-bordered">
            <thead>
                <tr style="color: White; background-color: #00B140; font-size: Medium; font-weight: bold; padding: 8px" role="row">

                    <td class="text-center">Editar</td>

                    <td style="display :none;">IdInventario</td>
                    <td class="text-center">Numero de serie</td>
                    <td class="text-center">Descripcion</td>
                    <td class="text-center">Nombre de equipo</td>
                    <td class="text-center">Nombre de marca</td>
                    <td class="text-center">Nombre de modelo</td>
                    <td class="text-center">Direccion de entrada</td>
                


                    <td class="text-center">Eliminar</td>
                </tr>
            </thead>
            <tbody>
                @foreach (ML.Inventario inventario in Model.Inventarios)
                {
                    <tr>
                        <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Inventario", new { IdInventario = inventario.IdInventario })"></a></td>

                        <td style="display :none;">@inventario.IdInventario</td>
                        <td class="text-center">@inventario.NumeroSerie</td>
                        <td style="display :none;">@inventario.Modelo.IdModelo</td>
                        <td class="text-center">@inventario.Modelo.Descripcion</td>
                        <td style="display :none;">@inventario.TipoEquipo.IdTipoEquipo</td>
                        <td class="text-center">@inventario.TipoEquipo.Nombre</td>
                        <td style="display :none;">@inventario.Marca.IdMarca</td>
                        <td class="text-center">@inventario.Marca.Nombre</td>
                        <td class="text-center">@inventario.Modelo.Nombre</td>
                        <td style="display :none;">@inventario.DireccionEntrada.IdDireccionEntrada</td>
                        <td class="text-center">@inventario.DireccionEntrada.Nombre</td>
                        <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Inventario", new { IdInventario = inventario.IdInventario})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                    </tr>
                }

            </tbody>
        </table>
        @* </div>*@
    }
</div>
