@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ML.Modelo
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>@ViewBag.Titulo</h3>
                <h5>Ingrese los datos</h5>
                <hr />
            </div>
        </div>
    </div>
    @* <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Usuario/UsuarioJS.js"></script>*@
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Modelo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">

                    <div class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.IdModelo, new { @class = "control-label col-md-2 hidden" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.IdModelo, new { @class = "form-control hidden" })
                            @Html.ValidationMessageFor(model => model.IdModelo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-md-3" style="display: none;">
                            @Html.LabelFor(model => model.Marca.IdMarca, new { @class = "control-label col-md-2" })
                        </div>
                        @Html.LabelFor(model => model.Marca.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @*@Html.TextBoxFor(model => model.Rol.IdRol, new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(model => model.Rol.IdRol)*@
                            @* aqui va el Drop Down List *@
                            @Html.DropDownListFor(model => model.Marca.IdMarca, new SelectList(Model.Marca.Marcas, "IdMarca", "Nombre"), "Selecciona una opcion", new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@ViewBag.Accion" class="btn btn-success" />
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-10">
            @Html.ActionLink("Regresar", "GetAll", "Modelo", htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>
</div>