@model ML.EntregaEquipo
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Historial de equipos entregados.</h2>
    </div>

    @* <div class="row">
    <div class="col-md-8">
    <h5>Equipos entregados.</h5>
    <hr />
    </div>
    </div>*@
    <div style="float:right;">
        @Html.ActionLink("Regresar", "Form", "EntregaEquipo", htmlAttributes: new { @class = "btn btn-danger" })
    </div>
    @if (Model.Entregas == null)
    {
        <div class="p-3 mb-2 bg-danger text-white">Aun no hay equipos entregados</div>
    }
    else
    {
        @*  <div style="overflow-x:auto;">*@


        <table class="table table-bordered">
            <thead>
                <tr style="color: White; background-color: #00B140; font-size: Medium; font-weight: bold; padding: 8px" role="row">

                    @*<td class="text-center">Editar</td>*@

                    <td style="display :none;">IdEntregaEquipo</td>
                    <td class="text-center">Destino</td>
                    <td class="text-center">Operadora</td>
                    <td class="text-center">Entregó</td>
                    <td class="text-center">Recibió</td>
                    <td class="text-center">Numero de serie de equipo entregado</td>
                    <td class="text-center">Justificación</td>
                    <td class="text-center">Autorizó</td>
                    @*<td class="text-center">ApellidoPaterno</td>
                <td class="text-center">ApellidoMaterno</td>*@

                    @*
                <td class="text-center">Entrega</td>*@
                </tr>
            </thead>
            <tbody>
                @foreach (ML.EntregaEquipo entregaEquipo in Model.Entregas)
                {
                    <tr>
                        @*                        <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "DireccionEntrada", new { IdDireccionEntrada = direccionEntrada.IdDireccionEntrada })"></a></td>
                *@
                        <td style="display :none;">@entregaEquipo.IdEntregaEquipo</td>

                        <td class="text-center">@entregaEquipo.direccionDestino.Nombre</td>
                        <td style="text-center">@entregaEquipo.operadora.RazonSocial</td>
                        <td class="text-center">@entregaEquipo.personalEntrega.Nombre @entregaEquipo.personalEntrega.ApellidoPaterno @entregaEquipo.personalEntrega.ApellidoMaterno</td>
                        <td class="text-center">@entregaEquipo.Recibe</td>
                        <td style="text-center">@entregaEquipo.inventario.NumeroSerie</td>
                        <td class="text-center">@entregaEquipo.Justificacion</td>
                        <td class="text-center">@entregaEquipo.personalAutorizacion.Nombre @entregaEquipo.personalAutorizacion.ApellidoPaterno @entregaEquipo.personalAutorizacion.ApellidoMaterno</td>
                        @*  <td class="text-center"><a class = "btn btn-success" href="@Url.Action("Regresar", "EntregaEquipo", new { IdEntregaEquipo = entregaEquipo.IdEntregaEquipo})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>*@
                    </tr>
                }

            </tbody>
        </table>
        @* </div>*@
    }
</div>