@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ML.EntregaEquipo
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>@ViewBag.Titulo</h3>
                <h5>Ingrese los datos para la entrega del equipo.</h5>
                <hr />
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "EntregaEquipo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">

                    <div class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.IdEntregaEquipo, new { @class = "control-label col-md-2 hidden" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.IdEntregaEquipo, new { @class = "form-control hidden" })
                            @Html.ValidationMessageFor(model => model.IdEntregaEquipo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.direccionDestino.IdDireccionDestino, new { @class = "control-label col-md-2 hidden" })
                        <div class="control-label col-md-2">
                            @Html.Label("Destino")
                        </div>

                        <div class="col-md-3">
                           
                            @Html.DropDownListFor(model => model.direccionDestino.IdDireccionDestino, new SelectList(Model.direccionDestino.Direcciones, "IdDireccionDestino", "Nombre"), "Selecciona una opcion", new { @class = "form-control" })


                        </div>


                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.personalEntrega.IdPersonalEntrega, new { @class = "control-label col-md-2 hidden" })
                        <div class="control-label col-md-2">
                            @Html.Label("Personal que entrega")
                        </div>

                        <div class="col-md-3">

                            @Html.DropDownListFor(model => model.personalEntrega.IdPersonalEntrega, new SelectList(Model.personalEntrega.Personales, "IdPersonalEntrega", "Nombre"), "Selecciona una opcion", new { @class = "form-control" })


                        </div>


                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.personalAutorizacion.IdPersonalAutorizacion, new { @class = "control-label col-md-2 hidden" })
                        <div class="control-label col-md-2">
                            @Html.Label("Personal que autoriza")
                        </div>

                        <div class="col-md-3">

                            @Html.DropDownListFor(model => model.personalAutorizacion.IdPersonalAutorizacion, new SelectList(Model.personalAutorizacion.Personales, "IdPersonalAutorizacion", "Nombre"), "Selecciona una opcion", new { @class = "form-control" })


                        </div>


                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.operadora.IdOperadora, new { @class = "control-label col-md-2 hidden" })
                        <div class="control-label col-md-2">
                            @Html.Label("Operadora")
                        </div>

                        <div class="col-md-3">

                            @Html.DropDownListFor(model => model.operadora.IdOperadora, new SelectList(Model.operadora.Operadoras, "IdOperadora", "NombreCorto"), "Selecciona una opcion", new { @class = "form-control" })


                        </div>


                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.inventario.IdInventario, new { @class = "control-label col-md-2 hidden" })
                        <div class="control-label col-md-2">
                            @Html.Label("Equipo a entregar")
                        </div>

                        <div class="col-md-3">

                            @Html.DropDownListFor(model => model.inventario.NumeroSerie, new SelectList(Model.inventario.Inventarios, "NumeroSerie", "NumeroSerie"), "Selecciona una opcion", new { @class = "form-control" })

                        </div>

                    </div>










                    <div class="form-group">
                        @Html.LabelFor(model => model.Recibe, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Recibe, new { @class = "form-control", @id = "txtRecibe", @placeholder="¿Quien recibe?", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Recibe)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Justificacion, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Justificacion, new { @class = "form-control", @id = "txtJustificacion", @placeholder="(Opcional)", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Justificacion)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <div class="btn-group d-flex w-100" role="group">
                                <input type="submit" value="@ViewBag.Accion Entregar" class="btn btn-success" />
                                @Html.ActionLink("Historial", "GetAll", "EntregaEquipo", htmlAttributes: new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>


